.App {
  background-color: #ffd4d9;
  text-align: center;
  font-family: Playfair Display; 
  color: #ff877d; 
}

.display-font {
  font-family: 'Playfair Display'; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

.DisplayQuestion{
  color: #ff877d;
}

.DisplayAnswer{
  color: #ff877d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.website-homepage {
  position: relative; 
  width: 100%; 
  height: 100vh; 
  margin: 0; 
  padding: 0; 
  background-color: rgb(255, 212, 217)
}

.background-image {
  top: 0%; 
  width: 100%; 
  height: 100vh;
}

.overlay-image{
  position: absolute;
  top: 5%; 
  left: 5%; 
  width: 40%;
  border-radius: 50%; 
  object-fit: cover; 
}

/* .welcome-image{
  position: absolute;
  top: 5%; 
  left: 30%; 
  width: 40%;
  border-radius: 50%; 
  object-fit: cover; 
} */

.text-overlay {
  position: absolute; 
  font-size: 16px; 
  top: 5%; 
  left: 3%; 
  color: rgb(155, 107, 116); 
  background-color: rgba(147, 93, 158, 0.5); 
  padding: 10px; 
  border-radius: 5px; 
}

.start-button {
  position: absolute; 
  top: 78%; 
  left: 46%; 
  width: 8%;
}

.signup-button {
  position: absolute; 
  top: 72%; 
  left: 21%; 
  width: 8%;
}

.btn-primary {
  background-color: rgb(249, 100, 127) !important; 
  border-color: rgb(240, 147, 164) !important;

} 

.btn-primary:hover{
  background-color: #872a60 !important;
}

.score {
  top: 12%;
  left: 5%;
  font-size: 24px; 
}

.score-overlay {
  position: absolute; 
  left: 40%; 
  top: 65%;  
  color: rgb(255, 135, 125); 
  /* background-color: rgba(27, 18, 86, 0.5);  */
  padding: 10px; 
  border-radius: 5px; 
  font-family: "Playfair Display", serif;
}

.welcome-overlay {
  position: absolute; 
  top: 5%; 
  left: 20%; 
  width: 60%; 
  color: rgb(255, 135, 125); 
  font-family: "Playfair Display", serif;
}